# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# VS Code settings (optional, uncomment if you want to ignore)
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio build artifacts
/android/app/debug
/android/app/profile
/android/app/release

# Gradle related
.gradle/
android/.gradle/
android/app/debug.keystore

# MacOS specific
*.DS_Store
*.localized

# Linux and Windows builds
linux/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.cc
web/.dart_tool/

# Coverage and test-related files
coverage/
test-results/

# Logs and temporary files
*.lock
*.log
*.tmp
*.swp
*.swo
*.swn
